<section class="products" id="products">
    <div class="container">
        <span class="subtitle">100% natural</span>
        <h2 class="title">Products</h2>
        <ul class="products-cards">
            <li class="products-card-1">
                <h3 class="products-after products-1 subtitle">ice cream</h3>
                
                <p class="products-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.
                </p>
                <button class="products-description-button">
                    
                    <img src="./images/products/arrow-right.png" alt="">

                </button>
               
            </li>
            <li class="products-card-2">
                <h3 class="products-after products-2 subtitle">ice coffee</h3>
                  
                    <p class="products-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.
                    </p>

                    <button class="products-description-button">
                    <img src="./images/products/arrow-right.png" alt="">
                    </button>
                 
            </li>           
            <li class="products-card-3">
                <h3 class="products-after products-3 subtitle">milkshakes</h3>
                <p class="products-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                </p>
                <button class="products-description-button">
                <img src="./images/products/arrow-right.png" alt="">
                   
                </button>
            </li>
            
        </ul>
    </div>
</section>