// mobile version

.products-description-button {
    padding: 0;
    
}

.products-description{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    color: $primary-white-color;
    text-transform: none;

    &-button{
        
        margin: 40px 0 auto ;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

}
.products {
    padding-top: 121px;
    padding-bottom: 98px;
    background-color: #ffff;
    text-align: center;
    
    & span {
        display: block;
        color: $subtitle-text-color;
        font-size: 18px; 
        margin-bottom: 15px;
    }
    & h2 {
        font-size: 34px; 
        color: $accent-color;
        margin-bottom: 30px;
    }
    
    & li {
        
        position: relative;
        width: 100%;
        min-height: 485px;
       
        padding-top: 50vw;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;      
     
        margin-top: 40vw;
        border-radius: 24px;
    }

    & h3 {
        font-size: 20px;
        color: $primary-white-color; 
        margin-bottom: 20vw;
    }
    &-after::after {
        content: "...";
        font-size: 30px;
        letter-spacing: 0.2em;
	    display: block;
        height: 0;
        width: 0;
        position: absolute;
        top: 59vw;
        left: 50%;
        transform: translateX(-20px);      
        background-color: $primary-white-color;
}

}
   %products-before {
        position: absolute;
	    top: -35vw;
        left: 5%;
	    content: "";
	    display: block;
	    width: 90%;
        height: 78vw;	          
        background-repeat: no-repeat;      
        background-position: center;   
        background-size: contain;
   }

    @mixin products-before ($product) {
        @extend %products-before;

        background-image: url("../images/products/mobile/product-#{$product}-249.png");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx){
          background-image: url("../images/products/mobile/product-#{$product}-498.png");   
         }

        @media screen and (min-width: 768px) {
        top: -113px;
        height: 252px;
        background-image: url("../images/products/tablet/product-#{$product}-220.png");
        }
         @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px){
        background-image: url("../images/products/tablet/product-#{$product}-440.png");
        }
        @media screen and (min-width: 1280px) {
        width: 335px;
        height: 335px;
        left: -3px;
        top: -210px;
        background-image: url("../images/products/desktop/product-#{$product}-335.png");
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
        screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image: url("../images/products/desktop/product-#{$product}-670.png");
        }

    }

    $bcg-colors: (
        #FFB8CA, #F0D1A5,  #C2E297
    );

    @for $i from 1 through 3 {
        .products {
            &-#{$i}::before{
                @include products-before(#{$i});
            }
            &-card-#{$i} {
                background-color: nth($bcg-colors, $i);
            }
        }
}

@media screen and (min-width: 480px) {
    .products li {
        padding-top: 241px;  
        margin-top: 169px;
         }
    .products-after::after {
        top: 283px;
    }    
    .products h3::before{
        top: -168px;
        height: 374px;
    }
    .products h3 {
        
        margin-bottom: 92px;
    }
}
    
@media screen and (min-width: 768px) {
    .products {
     & li {
        
        min-height: 485px;
        padding-top: 161px;  
        margin-top: 130px;
        
        &:not(:last-child){
            margin-right: 20px;
        }
      }
    &-cards {
        display: flex;
        justify-content: center;
    }
    
    &-after::after {
        top:190px;
    }
    & h3 {
        margin-bottom: 66px;
    }
    & h2 {
        margin-bottom: 40px;
    }
  }
}
@media screen and (min-width: 1280px) {

    .products {
        padding-top: 127px;
        padding-bottom: 119px;
    

    & li {
        
        
        width: 329px;
        min-height: 525px;         
        margin-top: 210px;
        
        &:not(:last-child){
            margin-right: 30px;
        }
    }

  
    & h2 {
        margin-bottom: 50px;
    }
    &-description-button {
        margin-top: 62px;
    }
  }

  .products h3::before{
        top: -210px;
        height: 335px;
    }

}

	
    

